<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.cdtft.springframework.beans.factory.support.UserDao"/>

    <bean id="userService" class="com.cdtft.springframework.beans.factory.support.UserService">
        <property name="userId" value="1"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="TestBeanPostProcessor" class="com.cdtft.springframework.beans.factory.support.TestBeanPostProcessor">

    </bean>

</beans>