<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.cdtft.springframework.beans.factory.support.UserDao" init-method="initData" destroy-method="clearData"/>

    <bean id="userService" class="com.cdtft.springframework.beans.factory.support.UserService">
        <property name="userId" value="1"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="TestBeanPostProcessor" class="com.cdtft.springframework.beans.factory.support.TestBeanPostProcessor">

    </bean>

    <bean id="proxyUserDao" class="com.cdtft.springframework.beans.factory.support.ProxyFactoryBean">

    </bean>

    <bean id="iUserService" class="com.cdtft.springframework.beans.factory.support.IUserService">
        <property name="uid" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

</beans>