<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.cdtft.springframework.beans.factory.support.UserDao" init-method="initData" destroy-method="clearData"/>

    <bean id="userService" class="com.cdtft.springframework.beans.factory.support.UserService">
        <property name="userId" value="1"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="TestBeanPostProcessor" class="com.cdtft.springframework.beans.factory.support.TestBeanPostProcessor"/>

    <bean id="proxyUserDao" class="com.cdtft.springframework.beans.factory.support.ProxyFactoryBean"/>

    <bean id="iUserService" class="com.cdtft.springframework.beans.factory.support.IUserServiceImpl">
        <property name="uid" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>


    <bean id="testListener" class="com.cdtft.springframework.context.TestListener"/>

    <bean id="DefaultAdvisorAutoProxyCreator" class="com.cdtft.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="userServiceBeforeAdvice" class="com.cdtft.springframework.aop.aspectj.UserServiceBeforeAdvice"/>

    <bean id="methodBeforeAdviceInterceptor" class="com.cdtft.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="methodBeforeAdvice" ref="userServiceBeforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.cdtft.springframework.aop.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution( * com.cdtft.springframework.beans.factory.support.IUserService.*(..))"/>
        <property name="advice" ref="methodBeforeAdviceInterceptor"/>
    </bean>

</beans>